#textPoznamky{
background-color: #33FFE6;
width: 200px;
height: 200px;
display: flex;
text-align: center;;
border-radius: 15px;
padding: 10px;
}s

#barvaPoznamky{
    border-radius: 5px;
}


.prvek{
    border-radius: 5px;
     overflow-wrap: anywhere;
    
    }

.prvek:hover{
        filter: brightness(105%);
       box-shadow: 5px 5px 5px black;
        }


.smazPrvek{
    background-image: url("../img/close.png");
    background-size: cover;
}

.smazPrvek:hover{
   transform: scale(110%);
   background-color: rgb(red, green, blue);
}